.a-navbar-title{
    color: white;
    /* margin-left: 10%; */
    margin-top: 20px;
    font-size: 25px;
}

.a-logo{
    width: 140px;
    height: 70px;
    /* margin-top: -10px; */
}

.a-title{
    margin-left: -40px;
    margin-top: 20px;
    /* display: inline-block; */
    color: white;
    font-size: 25px;
}

.a-user-icon{
    margin-left: -25%;
    font-size: 30px;
    /* background-color: black; */
    /* margin-top: -55px; */
}

.a-nav-icon{
    /* margin-left: 6%; */
    margin-top: -5px;
    font-size: 28px;

    /* background-color: black; */
}

.a-nav-start{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.d-body{
    display: flex;
    /* position: fixed; */
    /* width: 80%; */
    flex-direction: row;
    /* width: auto; */
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 280px;
    margin-right: 20px;
    /* left: 0; */
    font-size: 3rem;
}

/*
.s-bar{
    margin: 120px;
} */

.dash{
    font-size: 17px;  /*modifed*/
    margin-left: 8%;
    padding-top: 30px;  /*modifed*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  /*modifed*/
    }
 
  .dash1{
    transition: transform .2s;
    color: #007042;
    background-color: white;
    /*background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;*/
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 270px;    /*modifed*/
    height: 160px;   /*modifed*/
    margin-top: 30px;  /*modifed*/
    /* margin-right: 80px;   */
    border-left: #007042;
    border-width: 10px;
    margin-top: 140px;
    border-left-style: solid;
    
  }
  .dash1:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }

 .infor{
    margin-left: 30px;
    font-size: large;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


.tab-screen{
    display: flex;
    justify-content: center;
}
/* .rtab{
    background-color: rgb(103, 241, 10);
    color: #000;
}

.ltab{
    background-color: rgb(236, 0, 0);
    color: rgb(0, 0, 0);
} */
.tab:hover{
    color: #000;
}

.addform{
    display: flex;
    justify-content: space-between;
}

@media (max-width:1500px) {

    .a-navbar-title{
        margin-top: 20px;
        font-size: 20px;
    }
    
    .a-logo{
        width: 130px;
        height: 70px;
        /* margin-top: -10px; */
    }
    .a-title{
        font-size: 20px;
    }
    .a-user-icon{
        margin-left: -25%;
        font-size: 25px;
        /* background-color: black; */
        /* margin-top: -55px; */
    
    }
    
    .a-nav-icon{
        /* margin-left: 6%; */
        margin-top: -5px;
        font-size: 23px;
    
        
    /* background-color: black; */
    }
    
    
}

@media (max-width:1400px) {
    .row .d-body{
        display: flex;
        /* position: fixed; */
        /* width: 80%; */
        /* flex-direction: column; */
        /* width: auto; */
        /* align-items: center; */
        justify-content: center;
        margin-left: 280px;
        margin-right: 20px;
        /* left: 0; */
        font-size: 3rem;
    }

    .dash1{
        
        width: 250px;    /*modifed*/
        height: 150px;   /*modifed*/
        
        
      }
}

@media (max-width:1200px) {

    .a-navbar-title{
        margin-top: 24px;
        font-size: 17px;
    }
    
    .a-logo{
        width: 120px;
        height: 60px;
        /* margin-top: -10px; */
    }
    .a-title{
        font-size: 17px;
        margin-top: 24px;

    }
    .a-user-icon{
        margin-left: -25%;
        font-size: 25px;
        /* background-color: black; */
        /* margin-top: -55px; */
    
    }
    
    .a-nav-icon{
        /* margin-left: 6%; */
        margin-top: -5px;
        font-size: 19px;
    
        /* background-color: black; */
    }
    .a-nav-start{
        width: 28%;
    
    }

    .d-body{
        display:flex;
        /* align-items: center; */
        justify-content: space-around;
        margin-left: 280px;
        margin-right: 20px;
        /* left: 0; */
        font-size: 3rem;
    }

    .addform{
        display: flex;
        flex-direction: column;
        /* justify-content: ; */
        /* align-items: center; */
    }
    
}

@media (max-width:1000px) {

    .a-navbar-title{
        margin-top: 24px;
        font-size: 15px;
    }
    
    .a-logo{
        width: 110px;
        height: 55px;
        margin-top: 7px;
        margin-left: -17px;
    }
    .a-title{
        font-size: 15px;
        margin-top: 24px;

    }
    .a-user-icon{
        margin-left: -25%;
        font-size: 25px;
        /* background-color: black; */
        /* margin-top: -55px; */
    
    }
    
    .a-nav-icon{
        /* margin-left: 6%; */
        margin-top: -5px;
        font-size: 17px;
    
        /* background-color: black; */
    }
    .a-nav-start{
        width: 32%;
    
    }
    
}