.a-navbar-title {
  color: white;
  /* margin-left: 10%; */
  margin-top: 15px;
  font-size: 25px;
}

.a-logo {
  width: 140px;
  height: 70px;
  /* margin-top: -10px; */
}

.a-title {
  margin-left: -40px;
  margin-top: 15px;
  /* display: inline-block; */
  color: white;
  font-size: 25px;
}

.a-user-icon {
  margin-left: -25%;
  font-size: 30px;
  /* background-color: black; */
  /* margin-top: -55px; */
}

.a-nav-icon {
  /* margin-left: 6%; */
  margin-top: -5px;
  font-size: 28px;

  /* background-color: black; */
}

.a-nav-start {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.d-body {
  display: flex;
  /* position: fixed; */
  /* width: 80%; */
  flex-direction: row;
  /* width: auto; */
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 20px;
  margin-top: 100px;
  /* left: 0; */
  font-size: 3rem;
}

/*
.s-bar{
    margin: 120px;
} */

.dash {
  font-size: 20px; /*modifed*/
  margin-left: 8%;
  padding-top: 8px; /*modifed*/
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; /*modifed*/
  font-weight: bold;
  color: black;
}

.dash1 {
  transition: transform 0.2s;
  border-bottom: #4049a0;
  color: #44361b;
  background-color: white;
  /*background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;*/
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2),
    0 16px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 270px; /*modifed*/
  height: 160px; /*modifed*/
  margin-top: 30px; /*modifed*/
  /* margin-right: 80px;   */
  /* border-left: #007042; */
  border-width: 10px;
  margin-top: 140px;
  border-left-style: solid;
}
.card:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.cardw:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.cardww:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.cardw {
  /* font-size: 18px; */
  padding: 16px;
  text-align: center;
  background-color: white;
  border-bottom: #1113b8;
  /* border-width: 50px; */
  border-bottom-style: solid;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: #44361b; */
  width: 240px;
  height: 160px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(65, 57, 57, 0.993);
  margin-left: 6px;
}
.cardww {
  /* font-size: 18px; */
  padding: 16px;
  text-align: center;
  background-color: white;
  border-bottom: rgb(159, 49, 192);
  /* border-width: 50px; */
  border-bottom-style: solid;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: #44361b; */
  width: 240px;
  height: 160px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(65, 57, 57, 0.993);
  margin-left: 6px;
}
.infor {
  margin-left: 15px;
  /* margin-top: 12px; */
  font-size: 20px;
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.tab-screen {
  display: flex;
  justify-content: center;
}
/* .rtab{
    background-color: rgb(103, 241, 10);
    color: #000;
}

.ltab{
    background-color: rgb(236, 0, 0);
    color: rgb(0, 0, 0);
} */
.tab:hover {
  color: #000;
}

.addform {
  display: flex;
  justify-content: space-between;
}

.dashboard-line-chart {
  margin-top: 60px;
  margin-left: 190px;
  margin-bottom: 80px;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 900px;
  height: 460px;
}

.dashboard-line-chart-admin {
  margin-top: 60px;
  margin-left: -90px;
  margin-bottom: 80px;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 700px;
  height: 430px;
}

.tooltip {
  /* position: relative; */
  display: inline-block;
  border-bottom: 1px dotted black;
  color: #000;
  background-color: #000;
  z-index: 11;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 15;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.profile-wrapper {
  overflow: hidden;
  min-width: 150px;
  max-width: 250px;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.profile-wrapper .dropbtn {
  border: none;
  outline: none;
  color: #007042;
  background-color: inherit;
  font-family: inherit;
  margin-right: 0;
  display: inline-block;
}
.profile-wrapper :hover {
  color: #067d68;
}

.user-icon {
  overflow: hidden;
  min-width: 150px;
  max-width: 250px;
  text-align: right;
  float: right;
  margin-right: 10px;
}
.drop-icon {
  font-size: 2rem;
  color: #ffffff;
}

.profile-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 10px 8px 16px;
  list-style: none;
  height: 30px;
}

.profile-text:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(10, 111, 243);
  font-size: 18px;
  /* width: 95%; */
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 0 16px; */
  border-radius: 4px;
  margin-top: px;
}

.menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* opacity: 0.9; */
  font-size: 18px;
  /* margin-top: 1rem; */
  margin-left: -2rem;
  min-width: 200px;
  /* height: 100%; */
  /* min-height: 150px; */
  box-shadow: 0px 1px 1px 0px #5e5e5e;
  z-index: 1;
  padding: 7px 16px;
  border-radius: 4px;
}

.menu Link:hover {
  background-color: #001572;
}

.user-icon:hover .menu {
  display: block;
}

.scroll-selector {
  fill: lightblue;
  opacity: 0.5;
  cursor: ew-resize;
}

.Add-chart-body {
  width: "80%";
  margin-top: 40px;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 700px;
  height: 550px;
  margin-bottom: 50px;
  margin-left: 280px;
  border-radius: 10px;
  /* padding-left: 50px; */
}
.pie-chart-body {
  width: "80%";
  margin-top: 40px;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  height: 550px;
  margin-bottom: 50px;
  margin-left: 30px;
  border-radius: 10px;
}
.pie-chart-body2 {
  width: "100%";
  margin-top: 40px;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  height: 550px;
  margin-bottom: 50px;
  margin-left: 50px;
  /* margin-right: 100px; */
  border-radius: 10px;
}
.chart-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-chart {
  background-color: #c1d7e0;
  color: rgb(15, 25, 119);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}

.heading-piechart {
  background-color: #c1d7e0;
  color: rgb(15, 25, 119);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
}

.input-file {
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
@media (max-width: 1500px) {
  .a-navbar-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .a-logo {
    width: 130px;
    height: 70px;
    /* margin-top: -10px; */
  }
  .a-title {
    font-size: 20px;
  }
  .a-user-icon {
    margin-left: -25%;
    font-size: 25px;
    /* background-color: black; */
    /* margin-top: -55px; */
  }

  .a-nav-icon {
    /* margin-left: 6%; */
    margin-top: -5px;
    font-size: 23px;

    /* background-color: black; */
  }
}

@media (max-width: 1400px) {
  .row .d-body {
    display: flex;
    /* position: fixed; */
    /* width: 80%; */
    /* flex-direction: column; */
    /* width: auto; */
    /* align-items: center; */
    justify-content: center;
    margin-left: 280px;
    margin-right: 20px;
    /* left: 0; */
    font-size: 3rem;
  }

  .dash1 {
    width: 250px; /*modifed*/
    height: 150px; /*modifed*/
  }
}

@media (max-width: 1200px) {
  .a-navbar-title {
    margin-top: 24px;
    font-size: 17px;
  }

  .a-logo {
    width: 120px;
    height: 60px;
    /* margin-top: -10px; */
  }
  .a-title {
    font-size: 17px;
    margin-top: 24px;
  }
  .a-user-icon {
    margin-left: -25%;
    font-size: 25px;
    /* background-color: black; */
    /* margin-top: -55px; */
  }

  .a-nav-icon {
    /* margin-left: 6%; */
    margin-top: -5px;
    font-size: 19px;

    /* background-color: black; */
  }
  .a-nav-start {
    width: 28%;
  }

  .d-body {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-left: 280px;
    margin-right: 20px;
    /* left: 0; */
    font-size: 3rem;
  }

  .addform {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* align-items: center; */
  }
}

@media (max-width: 1000px) {
  .a-navbar-title {
    margin-top: 24px;
    font-size: 15px;
  }

  .a-logo {
    width: 110px;
    height: 55px;
    margin-top: 7px;
    margin-left: -17px;
  }
  .a-title {
    font-size: 15px;
    margin-top: 24px;
  }
  .a-user-icon {
    margin-left: -25%;
    font-size: 25px;
    /* background-color: black; */
    /* margin-top: -55px; */
  }

  .a-nav-icon {
    /* margin-left: 6%; */
    margin-top: -5px;
    font-size: 17px;

    /* background-color: black; */
  }
  .a-nav-start {
    width: 32%;
  }
}
