::placeholder {
  color: gainsboro;
  opacity: 1;
  font-size: 16px;
}
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_1 {
  display: flex;
  flex-flow: row wrap;
  border-style: solid;
  border-width: 1px 0 0 25px;
  border-color: #4049a0;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 12px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  padding: 1rem;
  background-color: FFFFFF;
  margin: 1rem auto;
  width: 50%;
}
.logH1 {
  text-align: center;
  color: #4049a0;
  margin: 0 auto;
  font-size: 50px;
}
.login_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.div_img {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #4049a0;
}
.input-div1 {
  margin: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.input-div2 {
  margin: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  border-style: solid;
  border-color: #4049a0;
  border-width: 0 0 1px 0;
}
.divInput {
  width: 100%;
}
.forgot {
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  color: #4049a0;
}
.form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.insideForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75%;
}
.register {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4049a0;
  margin-top: 10px;
}
.btn1 {
  background-color: #4049a0;
  border: none;
  font-size: 20px;
  height: 35px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.logo1{
  width: 320px;
  height: 320px;
}
.logo2{
  width: 290px;
  height: 290px;
}
