.Title1 {
  /* background-color: #c1d7e0; */
  width: "120%";
  margin-top: 100px;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 1150px;
  height: 920px;
  margin-left: 260px;
}
.HeadLine {
  margin-top: 30px;
  background-color: #4049a0;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}
.subtitle {
  background-color: #c1d7e0;
  color: #c1d7e0;
}
.VaccineChart {
  /* margin-top: 50px; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 70px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  height: 450px;
}
.fonts {
  margin-top: 10px;
  color: #dd0925;
  font-weight: bold;
}
.columns2 {
  float: left;
  width: 25%;
  padding: 10px;
  /* margin-top: 10px; */
  margin-left: 60px;
}
.columns3 {
  float: left;
  width: 25%;
  padding: 10px;
  /* margin-top: 10px; */
  /* margin-left: 300px; */
}
.columns4 {
  float: left;
  width: 25%;
  padding: 10px;
  /* margin-top: 10px; */
  /* margin-left: 500px; */
}
.columns2 div {
  margin-left: 25px;
}
.cards3 {
  /* box-shadow: -1px -5px 50px 10px rgb(219, 217, 230) inset; */
  font-size: 18px;
  padding: 16px;
  text-align: center;
  background-color: white;
  border-bottom: #9840a0;
  /* border-width: 50px; */
  border-bottom-style: solid;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #44361b;
  width: 300px;
  height: 110px;
  margin-top: 20px;
  margin-left: 70px;
  box-shadow: 0 4px 8px 0 rgba(65, 57, 57, 0.993);
}
.cards4 {
  /* box-shadow: -1px -5px 50px 10px rgb(219, 217, 230) inset; */
  font-size: 18px;
  padding: 16px;
  text-align: center;
  background-color: white;
  border-bottom: #9840a0;
  /* border-width: 50px; */
  border-bottom-style: solid;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #44361b;
  width: 300px;
  height: 110px;
  margin-top: 20px;
  margin-left: 110px;
  box-shadow: 0 4px 8px 0 rgba(65, 57, 57, 0.993);
}
.cards2 {
  /* box-shadow: -1px -5px 50px 10px rgb(219, 217, 230) inset; */
  font-size: 18px;
  padding: 16px;
  text-align: center;
  background-color: white;
  border-bottom: #9840a0;
  /* border-width: 50px; */
  border-bottom-style: solid;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #44361b;
  width: 300px;
  height: 110px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(65, 57, 57, 0.993);
}
.PieChart1 {
  /* margin-left: 60px; */

  /* height: 600px; */
  /* size: 10; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* color: rgb(43, 46, 226);
  background-color: rgba(255, 255, 255, 0.95);
  height: auto;
  width: 100%; */
  /* margin-bottom: 15px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px; */
  width: 30%;
  /* height: auto; */
  display: inline-block;
  color: rgb(25, 36, 190);
  font-size: 10px;
  /*border: 1px solid black;*/
  margin-right: -220px;
}
.PieChart1 div {
  /* background-color: rgba(255, 255, 255, 0.95);
  height: 165px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px; */
  /*border: 1px solid black;*/
  /* margin-right: -200px;
  width: 100%; */
  background-color: rgba(255, 255, 255, 0.95);
  height: 450px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  /*border: 1px solid black;*/
  margin-right: -200px;
}

@media screen and (max-width: 600px) {
  .PieChart1 {
    /* margin-left: 60px; */

    /* height: 600px; */
    /* size: 10; */
    /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
    /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
    /* color: rgb(43, 46, 226);
    background-color: rgba(255, 255, 255, 0.95);
    height: auto;
    width: 100%; */
    /* margin-bottom: 15px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px; */
    width: 100%;
    height: auto;
    display: inline-block;
    color: rgb(190, 25, 25);
    font-size: 10px;
    /*border: 1px solid black;*/
    margin-right: -800px;
  }
  .PieChart1 div {
    /* background-color: rgba(255, 255, 255, 0.95);
    height: 165px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px; */
    /*border: 1px solid black;*/
    /* margin-right: -200px;
    width: 100%; */
    background-color: rgba(255, 255, 255, 0.95);
    height: 165px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px solid black;*/
    margin-right: -200px;
  }
}
